 <div id ="page-content">
   <% if @obj.present? && @obj.errors.any? %>
   <h2 class= "alert-heading">the error message</h2>
      <div class="alert alert-danger" role="alert">

        <ul>
          <% @obj.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>