 <%= form_with model: @student do |form|      %>

          <% if @student.errors.any? %>
            <% @student.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <%end%>
          <%end%>