<% if @obj.present? && @obj.errors.any? %>
  <% @obj.errors.full_messages.each do |message| %>
    <p><%= message %></p>

      <% if @obj.errors[field].any? %>
        <div class="alert alert-danger">
          <ul>
            <% @obj.errors[field].each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>






  <% end %>
<% end %>

