@import 'bootstrap/dist/css/bootstrap.min.css';


.navbar
 {
    background-color: grey !important;
    
}
.nav-link{
    color: brown!important ;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  #home-container {
margin-top: 25px;
  }

  .jumbotron {
    background-image: asset-url('test_pic.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1500px 550px;
    height: 350px;
    
  
  }
  .custom-background {
    background-color: lightgray;
  }
  
  html,
  body {
    height: 100%;

  }
  .profile-image {
    max-width: 200px;
    max-height: 200px;
  }
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  



  #page-content {
    flex: 1 0 auto;
    background-color: lightslategray;
  }
  #sticky-footer{
    flex-shrink: none;
  }